/* Light theme */
:root.theme-light {
    --main-color: #fff;
    --text-color: #000;
    --background-image: var(--background-image-light);
    --text-stroke: var(--main-color);
    --disabled: rgba(0, 0, 0, 0.6);
    --button-hover-color: var(--main-color);
    --heart-contour: var(--text-color);
}
/* Dark theme */
:root.theme-dark {
    --main-color: #000;
    --text-color: #00CC14;
    --background-image: var(--background-image-dark);
    --text-stroke: var(--text-color);
    --disabled: rgba(0, 204, 20, 0.6);
    --button-hover-color: var(--text-color);
    --heart-contour: var(--text-color);
}
/* Light theme */
@media (prefers-color-scheme: light) {
    :root {
        --main-color: #fff;
        --text-color: #000;
        --background-image: var(--background-image-light);
        --text-stroke: var(--main-color);
        --disabled: rgba(0, 0, 0, 0.6);
        --button-hover-color: var(--main-color);
        --heart-contour: var(--text-color);
    }
}
/* Dark theme */
@media (prefers-color-scheme: dark) {
    :root {
        --main-color: #000;
        --text-color: #00CC14;
        --background-image: var(--background-image-dark);
        --text-stroke: var(--text-color);
        --disabled: rgba(0, 204, 20, 0.6);
        --button-hover-color: var(--text-color);
        --heart-contour: var(--text-color);
    }
}
