/* Light theme */
:root.theme-light {
    --main-color: #fff;
    --text-color: #000;
    --regular-font-weight: 400;
    --bold-font-weight: 700;
    
    --background-color: #ffffff;
    --line-color: #d3d3d3;
    --gradient-color-start: #e7e7e7;
    --gradient-color-end: #1a1a1a;

    --text-stroke: var(--main-color);
    --disabled: rgba(0, 0, 0, 0.6);
    --button-hover-color: var(--main-color);
    --heart-contour: var(--text-color);
}
/* Dark theme */
:root.theme-dark {
    --main-color: #000;
    --text-color: #00CC14;
    --regular-font-weight: 465;
    --bold-font-weight: 785;
    --color-accent: #00cc14;

    --background-color: #000000;
    --line-color: #000000;
    --gradient-color-start: #007f0c;
    --gradient-color-end: #004306;

    --text-stroke: var(--text-color);
    --disabled: rgba(0, 204, 20, 0.6);
    --button-hover-color: var(--text-color);
    --heart-contour: var(--text-color);
}
/* Light theme */
@media (prefers-color-scheme: light) {
    :root {
        --main-color: #fff;
        --text-color: #000;
        --regular-font-weight: 400;
        --bold-font-weight: 700;

        --background-color: #ffffff;
        --line-color: #d3d3d3;
        --gradient-color-start: #e7e7e7;
        --gradient-color-end: #1a1a1a;

        --text-stroke: var(--main-color);
        --disabled: rgba(0, 0, 0, 0.6);
        --button-hover-color: var(--main-color);
        --heart-contour: var(--text-color);
    }
}
/* Dark theme */
@media (prefers-color-scheme: dark) {
    :root {
        --main-color: #000;
        --text-color: #00CC14;
        --regular-font-weight: 465;
        --bold-font-weight: 785;

        --background-color: #000000;
        --line-color: #000000;
        --gradient-color-start: #007f0c;
        --gradient-color-end: #004306;

        --text-stroke: var(--text-color);
        --disabled: rgba(0, 204, 20, 0.6);
        --button-hover-color: var(--text-color);
        --heart-contour: var(--text-color);
    }
}
