:root {
    /* --- Fonts --- */
    --font-family: 'Inter-Variable', sans-serif;
    --font-family-accent: 'PressStart2P', monospace;
    --main-font: 'Inter-Variable', sans-serif;
    --accent-font: 'PressStart2P', monospace;
    --heart-main-body: #FF0000;
    --font-family-weight: 400;
    --font-size-small: 14px;
    --font-size-base: 18px;
    --line-height-base: 1.5;
    /* --- Colors --- */
    --main-color: #fff;
    --text-color: #000;
    --disabled: rgba(0, 0, 0, 0.6);
    --heart-contur-color: var(--text-color);
    --heart-fill-color: #ff0000;
    --button-hover-color: var(--main-color);
    /* --- Other --- */
    --text-stroke: var(--main-color);
    /* --- Padding --- */
    --padding-large: 25px;
    --padding-xlarge: 30px;
    /* --- Gaps ---*/
    --gap-small: 6px;
    --gap-medium: 8px;
    --gap-regular: 10px;
    --gap-large: 20px;
    --gap-xlarge: 25px;
    --gap-xxlarge: 30px;
    --gap-huge: 50px;
    /* --- Animations --- */
    --transition-default: 0.3s ease;
}